body {
  margin-top: 105px;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 60px;
  border-radius: 0px 0px 0px 0px;
}

.container-principal {
  margin: 0 auto;
  max-width: 1302px;
  height: 810px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000;
  border-radius: 10px;
}

label {
  display: block;
  color: #fff;
  margin: 0px;
  margin-bottom: 2px;
  font-size: 1.2rem;
  color: #F0F0F0;
}

.dados1 {
  margin-bottom: 50px;
}

.dados2 {
  margin-bottom: 50px;
}

input {
  display: block;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.segunda-parte {
  padding: 60px 50px;
}

.check {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  border-radius: 5px;
}

button {
  width: 500px;
  text-align: center;
  background: #F7982C;
  padding: 1rem 11rem;
  font-size: 2rem;
  color: #351F05;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 0px;
}

a {
  display: block;
  color: #fafafa;
  font-size: 1.1rem;
  width: 500px;
  text-align: end;

}

span {
  color: #F0F0F0;
  font-size: 1.25rem;
}

.marcar {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* responsivo */

@media (max-width:1150px) {
  .container-principal {
    grid-template-columns: 1fr;
  }

  body {
    background: #000;
    margin-top: 20px;
  }

  img {
    width: 100vw;
  }

  .segunda-parte {
    padding: 1.875rem 1.5625px;
    display: grid;
    justify-items: center;
  }

  .marca-foto{
    width: 200px;
    height: 100px;
  }
}

@media (max-width:650px) {
  input ,button{
    width: 200px;
  }

  .marca-foto {
    width: 200px;
    height: 200px;
  }


  a{
    width: 450px;
    text-align: left;
  }

}


@media (max-width:428px) {
  .foto009 {
    display: none;
  }

  .segunda-parte {
    padding: 30px 25px;
  }

}



@media (max-width:330px) {
  .foto009 {
    display: none;
  }

  label {
    color: #A5A5A5;
    font-size: 1.4rem;
  }

  img {
    margin-bottom: 20px;
  }

  a {
    color: #A5A5A5;
  }
}
